.fade-in-up {
  animation: fadeInUp 0.75s ease;
  -webkit-animation: fadeInUp 0.75s ease; /* Safari and Chrome */
}
.fade-in-up-quick {
  animation: fadeInUp 1.5s ease;
}

@keyframes fadeInUp {
  from {
    margin-top: 13rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes fadeInUp /* Safari and Chrome */ {
  from {
    margin-top: 13rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .header {
    animation: widthAnimation 1.25s ease;
  }

  @keyframes widthAnimation {
    from {
      width: 10%;
    }
    to {
      width: 100%;
    }
  }

  @-webkit-keyframes widthAnimation /* Safari and Chrome */ {
    from {
      width: 10%;
    }
    to {
      width: 100%;
    }
  }
}
